@model List<Category>
@{
    Layout = "_AdminLayout";
}
<h1>Categories</h1>
<table class="table table-hover table-bordered">
@foreach(var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td><a href="/Category/Edit/@item.id" class="btn btn-success">Edit</a></td>
            <td><a href="/Category/Delete/@item.id" class="btn btn-success">Delete</a></td>
       </tr>
    }
</table>
<br /> <br />
<a href="/Category/CreateCategory" class="btn btn-success">Add New Category</a>

